body{

    font-family: Arial, Helvetica, sans-serif;
     background-image: url('/public/images/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #2B4E72; 
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}