body{

    font-family: Arial, Helvetica, sans-serif;
     background-image: url('/public/images/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;

    overflow-x: hidden;
    width: 100%;

}

#root {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

