.search-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

}

.search-bar-container {
    background-color: #ffffff;
    border-radius: 50px;
    max-width: 800px;
    width: 100%;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2) !important; 
}

.search-bar-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25) !important;
}

.custom-input {
    font-size: 1.1rem;
    color: #495057;
    background: transparent;
}

.custom-input::placeholder {
    color: #adb5bd;
    font-weight: 300;
}

@media (max-width: 768px) {
    .search-bar-container {
        border-radius: 20px;
        padding: 10px;
    }
    
    .custom-input {
        font-size: 1rem;
    }

    .btn {
        padding: 8px 20px;
    }
}