.card-reserva {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-reserva:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.bg-light {
    background-color: #f8f9fa !important;
}