
footer {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin-top: auto;
}


footer h5, 
footer h6, 
footer hr {
    color: #adb5bd !important; 
    border-color: #adb5bd !important; 
    opacity: 1 !important;
}

/* Links */
footer a {
    color: rgba(255, 255, 255, 0.75); 
    text-decoration: none;
    transition: opacity 0.3s ease;
}

footer a:hover {
    color: white; 
    opacity: 1;
}


footer p.small {
    color: #adb5bd;
}