.stats-container {

    background-color: #e8e8e8; 
    padding: 30px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08); 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;        
    margin: 0 auto;   
    position: relative;
  
}

/* O Número (100+, 2k+) */
.stat-number {
    color: #027BD1;
    font-size: 2.2rem;
    font-weight: 800; /* Extra negrito */
    line-height: 1.2;
}

/* O Texto (Destinos, Clientes) */
.stat-label {
    color: #889299; /* Um cinza médio, elegante */
    font-size: 0.95rem;
    font-weight: 600;
}

/* Linha Divisória Customizada */
.vr {
    width: 1px;
    height: 50px; /* Altura da linha */
    background-color: #e0e0e0; /* Cinza claro */
    opacity: 1; /* Remove transparência padrão do bootstrap */
}

/* Responsividade */
@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

   
    .vr {
        display: none;
    }
    
   
    .stat-item {
        border-bottom: 2px solid #f0f0f0;
        width: 100%;
        padding-bottom: 15px;
    
    }
    
    .stat-item:last-child {
        border-bottom: none;
    }
}